body {
  background: #eee;
}

* {
  margin: 0px;
  box-sizing: border-box;
}

div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
}

div video {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: transparent;
}